.App {
  text-align: center;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
  width: 1rem;
}

.swiper-pagination {
  bottom: -10rem;
}